
 <div class="SingupmaterialContainer">


  <div class="box">

     <div class="title">SIGN-UP</div>

    <div id="body">
  <form id="box" class="box" (submit)="DoLogIn($event)">
    <dx-form id="formdata"
      width="auto"
      style="margin-left: -54px;"
     [(formData)]="formData" 
    [(items)]="items"
    validationGroup="dxvalidationGroup"
    colCount="2"
    ></dx-form>
    <dx-button  style="margin-top: 16px;
    width: 41%;
    margin-left: 150px;" text="Signup" type="success" ></dx-button>
    <dx-load-panel  shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
      [shading]="true" [closeOnOutsideClick]="false" [(message)]="LoadingMessage">
    </dx-load-panel>
    
    </form>
    
</div> 


    
     <a (click)="Login($event)" class="pass-forgot">Back to Login!</a>

  </div>


</div>
