<dx-button *ngIf="ShowAddButton" style="float:right;margin-bottom: 21px;
float: inherit " [text]="AddButton.text" [type]="AddButton.type" (onClick)="NewEntityForm()"></dx-button>

<div style="width:99%" >
    
<dx-data-grid id="Datagrid"
   [dataSource] = "DataSource"
   [columns]= "columns"
   [columnAutoWidth]="true"
   (onContentReady)="onContentReady($event)"
   (onRowRemoving)="onRowRemoving($event)"

   
   >

   <dxo-paging [enabled]="true"></dxo-paging>
   <dxo-paging [pageSize]="10"></dxo-paging>
   <dxo-editing 
   mode="row"
   [(allowDeleting)]="allowDeleting"
  >
</dxo-editing>
   
  
    </dx-data-grid>
  </div>

 

    <dx-load-panel  shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" [(message)]="LoadingMessage">
  </dx-load-panel>


 

