
 <div class="materialContainer">


  <div class="box">

     <div class="title">FORGOT PASSWORD</div>

    <div id="body">
  <form id="box" class="box" (submit)="DoForgotPassword($event)">
    <dx-form id="formdata"
      width="auto"
      style="margin-left: -54px;"
     [(formData)]="formData" 
    [(items)]="items"
    validationGroup="dxvalidationGroup"
    ></dx-form>
    <dx-load-panel  shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
      [shading]="true" [closeOnOutsideClick]="false" [(message)]="LoadingMessage">
    </dx-load-panel>
    
    </form>
    
</div> 


    
     <a  (click)="Login()" class="pass-forgot">Back to Login!</a>

  </div>


</div>
